form{
    padding: 60px;
    max-width: 400px;
    background-color: #f3f3f3;
    margin: 0 auto;
    border: 5px #000000;
  }
  
  form input{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none;
  }
  
  form .boton{
      display: block;
      background-color: #298435;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-size: 1em; 
      color:    rgb(255, 255, 255);
      font-family: "Roboto", sans-serif;

  }
.boton:hover{
  color: #000000;
  }

h3{
  text-align: center;
}
.crud a button{
  text-decoration:none;
   width: 100px;
   height: 50px;
  font-size:12px;
  color:#377542;
  padding-top:15px;
  padding-bottom:10px;
 
  background-color:#292827;
    
}
